<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASNA • Software We Love</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="public/vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="public/vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- Page specific CSS. -->
    <link rel="stylesheet" href="public/css/BootStrap01.css">

    <link rel="stylesheet" href="public/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="icon" href="public/ico/favicon.ico">
<style>
  body {
    padding-top: 70px;
  }

  .small-icon {
    font-size: 65%;
  }

  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }

  .logo-image {
    margin-top: 8px;
  }

  .big-heading {
      font-size: 450%;
  }

    a[data-toggle='collapse'] {
        font-size: 120%;
        font-weight: 800;
    }


  .swl-link {
      font-size: 110%;
      font-weight: 600;        
  }
</style>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <img class="logo-image" src="public/images/logo-sm-1.0.8.png" height="30" width="100" />
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div>
      </div>
    </div>

    <div class="container site-begins">
      <div class="row">
        <div class="col-md-12">
            <span class="big-heading">Software we</span>
            <img src="public/images/heart.png" height="206" width="331"></img>    
            <p class="lead">Software, blogs, sites and utilities we use every day!</p>     
            <a href="#" id="toggle-url-display">Collapse all links</a>
            <p>&nbsp;Most of what is listed here is either open source of free but a <span class="fa fa-dollar"></span> indicates you need to spend money.</p>
            <p>If you'd like to nominate utilities or Websites to this list, please email your nominees to rp@asna.com.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 border">
          <div id="content"></div>
        </div>
      </div>
    </div>

    <div id="content"></div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="public/vendor/jquery/dist/jquery.min.js"></script>
    <script src="public/js/json2.js"></script>
    <script src="public/vendor/underscore/underscore.js"></script>

    <script src="public/vendor/backbone/backbone.js"></script>
    <script src="public/vendor/backbone.marionette/lib/backbone.marionette.min.js"></script>
    <script src="public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="public/json/swl.json.js"></script>
    <script src="public/js/application.js"></script>

    <script type="text/template" id="url-template">
      </span><a href="<%= url %>"><%= text %></a> 
      <% if (summary != "") { %>
        <span class="fa fa-circle small-icon"></span> 
      <% } %>
      <%= summary %>
      <% if (! free) { %>
        &nbsp;<span class="fa fa-dollar"></span>  
      <% } %>     
    </script>
    
    <script type="text/template" id="accordion-group-template">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#category<%= id %>">
                <%= category %>
              </a>
            </h4>
          </div>

          <div id="category<%= id %>" class="panel-collapse collapse in url-group">
            <div class="panel-body accordion-inner">
            </div>
          </div>
        </div>
    </script>

    <script type="text/javascript">
      MyApp.addInitializer(function(options){
        var categories = new Categories(options.list);
        
        // each category's urls must be a backbone collection
        // we initialize them here
        categories.each(function(category){
          var urls = category.get('urls');
          var urlsCollection = new Urls(urls);
          category.set('urls', urlsCollection);
        });
        
        var categoriesView = new CategoriesView({
          collection: categories
        });
        MyApp.mainRegion.show(categoriesView);
      });

      MyApp.start({list: categories});
    </script>

    <script>
    $(function(){
      var collapsed = false;
      $('#toggle-url-display').click(function(e) {
        e.preventDefault();
        if (collapsed) {
          $(".url-group").removeClass("out").addClass("in");          
          $(this).text('Collapse all links');
        }
        else {
          $(".url-group").removeClass("in").addClass("out");
          $(this).text('Show all links');
        }
        collapsed = ! collapsed;
      });
    });
    </script>


</body>
</html>